/* --- Color Palette --- */

$Background: #282a36;
$Current: #44475a;
$Selection: #44475a;
$Foreground: #f8f8f2;
$Comment: #6272a4;
$Cyan: #8be9fd;
$Green: #50fa7b;
$Grey: #b6b2b2;
$Orange: #ffb86c;
$Pink: #ff79c6;
$Purple: #bd93f9;
$Red: #ff5555;
$Yellow: #f1fa8c;

/* --- Backgrounds & Text Colors --- */

body,
input,
main,
select,
td,
tr,
.coursera-assess-question-optionBase label:hover,
.c-open-single-page-body-container,
.c-points-box,
.drawer-open,
.item-box-content,
.offering-content,
.overlay,
.quiz-attempt-questions-spacer,
.rc-AboutBox,
.rc-CourseNavigation,
.rc-NavigationLink,
.rc-WeekCardHeader,
.video-container,
.week-body {
	background: $Background;
	color: $Foreground;
}

header,
nav,
#quiz_result,
.card-no-action,
.card-one-clicker,
.card-rich-interaction,
.coursera-assess-assessment-in-video,
.coursera-assess-assessment-in-video-bar,
.module-section,
.rc-QuizAttemptHeader,
.truncate-gradient,
.week-heading,
div[data-rc='QuizResults'] {
	background: darken($Background, 3%);
	color: $Foreground;
}

.rc-AssignmentRow:hover,
.rc-NavigationDrawerLink:hover,
.rc-NavigationDrawerLink.selected,
.rc-NavSingleItemDisplay:hover,
.rc-NavSingleItemDisplay.highlighted,
.rc-WeekSingleItemDisplay:hover,
.rc-WeekSingleItemDisplay.highlighted {
	background: lighten($Background, 10%);
}

table {
	td,
	tr {
		&:nth-child(odd) {
			background: lighten($Background, 5%);
		}
	}
}

/* --- Text Colors Only --- */

span,
.color-primary-text,
.color-hint-text {
	color: $Foreground;
}

.course-partners {
	color: $Cyan;
}

i {
	color: $Pink;
}

.rc-CompletedItemIcon {
	.cif-circle {
		color: $Green;
	}

	i:nth-child(2) {
		color: $Background;
	}
}

/* --- Borders Only --- */

select {
	border-color: $Pink;

	&:focus {
		border-color: $Green;
	}
}

table,
td,
tr,
.cdp-rule,
.c-points-box,
.item-box-content,
.item-box-content > div:nth-of-type(2),
.tab-headline span {
	border: 1px solid $Cyan;
}

/* --- Misc --- */

a,
button,
.cif-close {
	border: none;
	color: $Purple;

	&:hover {
		color: lighten($Purple, 10%);
	}

	&.primary {
		background: $Green;
		color: $Background;
	}
}

.btn-flat-success {
	background: $Green;
	color: $Background;

	span {
		color: $Background;
	}
}

.card-one-clicker {
	border: none;

	&:hover {
		background: $Background;
	}
}

.c-authenticated-dropdown-menu {
	background: $Comment;
	color: $Foreground;

	button {
		background: $Comment;
	}

	li:hover a,
	li:hover button {
		background: darken($Comment, 5%);
		color: lighten($Purple, 5%);
	}
}

.header-search {
	border-bottom: 1px solid $Pink;

	path {
		fill: $Pink;
	}

	svg {
		margin-right: 10px;
	}

	&.active {
		border-bottom: 1px solid $Green;

		path {
			fill: $Green;
		}
	}
}

.overlay {
	opacity: 0;
}

.resources-list {
	background: $Comment;
	color: $Foreground;

	.resources-list-item:hover {
		background: darken($Comment, 10%);
		color: $Purple;
	}
}

.rc-Help > div {
	background: darken($Comment, 10%);
	border: none;
}

.rc-InContextNotification > div {
	background: darken($Background, 5%);
	color: $Red;
	border-color: $Red;

	circle {
		fill: $Red;
	}
}

.rc-Phrase {
	color: darken($Foreground, 10%);

	&:hover {
		color: $Purple;
	}
}

.toggle-link {
	padding: 0.25rem;

	&.primary {
		background: transparent;
	}
}

/* --------------------- */
