$Background: #282a36;
$Current: #44475a;
$Selection: #44475a;
$Foreground: #f8f8f2;
$Comment: #6272a4;
$Cyan: #8be9fd;
$Green: #50fa7b;
$Grey: #b6b2b2;
$Orange: #ffb86c;
$Pink: #ff79c6;
$Purple: #bd93f9;
$Red: #ff5555;
$Yellow: #f1fa8c;

body,
input,
main,
select,
td,
tr,
.drawer-open,
.item-box-content,
.offering-content,
.overlay,
.rc-AboutBox,
.rc-CourseNavigation,
.rc-NavigationLink,
.rc-WeekCardHeader,
.video-container,
.week-body {
	background: $Background;
	color: $Foreground;
}

a,
button,
.cif-close {
	border: none;
	color: $Purple;

	&:hover {
		color: lighten($Purple, 10%);
	}

	&.primary {
		background: $Green;
		color: $Background;
	}
}

header,
nav,
.card-no-action,
.card-one-clicker,
.card-rich-interaction,
.coursera-assess-assessment-in-video,
.coursera-assess-assessment-in-video-bar,
.module-section,
.truncate-gradient,
.week-heading {
	background: darken($Background, 3%);
	color: $Foreground;
}

select {
	border-color: $Pink;

	&:focus {
		border-color: $Green;
	}
}

span,
.color-primary-text {
	color: $Foreground;
}

table {
	border: 1px solid $Cyan;

	td,
	tr {
		border: 1px solid $Cyan;

		&:nth-child(odd) {
			background: lighten($Background, 5%);
		}
	}
}

i {
	color: $Pink;
}

.btn-flat-success {
	background: $Green;
	color: $Background;

	span {
		color: $Background;
	}
}

.card-one-clicker {
	border: none;

	&:hover {
		background: $Background;
	}
}

.cdp-rule {
	border: 1px solid $Cyan;
}

.c-authenticated-dropdown-menu {
	background: $Comment;
	color: $Foreground;

	button {
		background: $Comment;
	}

	li:hover a,
	li:hover button {
		background: darken($Comment, 5%);
		color: lighten($Purple, 5%);
	}
}

.course-partners {
	color: $Cyan;
}

.header-search {
	border-bottom: 1px solid $Pink;

	path {
		fill: $Pink;
	}

	svg {
		margin-right: 10px;
	}

	&.active {
		border-bottom: 1px solid $Green;

		path {
			fill: $Green;
		}
	}
}

.item-box-content {
	border-color: $Cyan;

	div:nth-of-type(2) {
		border-color: $Cyan;
	}
}

.overlay {
	opacity: 0;
}

.resources-list {
	background: $Comment;
	color: $Foreground;

	.resources-list-item:hover {
		background: darken($Comment, 10%);
		color: $Purple;
	}
}

.rc-AssignmentRow:hover,
.rc-NavigationDrawerLink:hover,
.rc-NavigationDrawerLink.selected,
.rc-NavSingleItemDisplay:hover,
.rc-NavSingleItemDisplay.highlighted,
.rc-WeekSingleItemDisplay:hover,
.rc-WeekSingleItemDisplay.highlighted {
	background: lighten($Background, 10%);
}

.rc-Help > div {
	background: darken($Comment, 10%);
	border: none;
}

.rc-InContextNotification > div {
	background: darken($Background, 5%);
	color: $Red;
	border-color: $Red;

	circle {
		fill: $Red;
	}
}

.rc-Phrase {
	color: darken($Foreground, 10%);

	&:hover {
		color: $Purple;
	}
}

.tab-headline span {
	border-bottom: 1px solid $Green;
}

.toggle-link {
	padding: 0.25rem;

	&.primary {
		background: transparent;
	}
}
